/*Style for findChip.html*/

body {
    font-family:  "Open Sans", sans-serif;
    width:100%;
    height:85%;
}

html {
    height: 85%;
    width:100%;
    margin: 0px;
    padding: 0px;
}
header, h1, h4  {
    background: #2A5070;
    color: white;
    width: 100%;
    padding: 1px;
    /*margin: 10px;*/
    text-align: center;
}
h4 {
    text-align: left;
}
/*#docButton {*/
    /*float: right*/
/*}*/

 #map-canvas {
    height: 85%;/*!important;
    /*width:95%;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
     /*align-self: center;*/
}

 .ui-dialog  {
     background-color: #e5e5e5;
     /*position of image in dialog*/
     position: absolute;
     top: 20em;
}

 #imgDG {
    width: 100%;
    height: 100%;
}

footer {
    background: rgba(42, 80, 112, 0.60);
    color: white;
    text-align: left;
    width:100%;
    padding:10px;
    float:left;
}

#leftFoot {
    float: left;
    font-size: 20px;
}

#rightFoot {
    text-align: right;
}